# App Environment
APP_ENV=local

AWS_ACCESS_KEY_ID=minioadmin
AWS_SECRET_ACCESS_KEY=minioadmin
AWS_REGION=us-east-1
AWS_ENDPOINT=http://localhost:9002
AWS_S3_BUCKET_NAME=hrms

# Database
PG_DATABASE_URL=postgresql://postgres:password@localhost:5438/hrms_db

# API Backend (port 6002)
PORT_API_BACKEND=6002

# mail
MAIL_HOST=localhost
MAIL_PORT=1027
MAIL_USER=asd
MAIL_PASSWORD=asd+
MAIL_NOREPLY=test@test.com
MAIL_SECURE=false

# web app url
WEB_APP_BASE_URL=http://localhost:6001

SALT_ROUNDS=10

# Web
NEXTAUTH_SECRET_WEB_APP=<secret>
NEXTAUTH_URL_WEB_APP=http://localhost:6001
BACKEND_API_URL=http://localhost:6002
NEXT_TELEMETRY_DISABLED=1
